# Importing packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Loading and Exploring Dataset

In [2]:
# change the path as per your custom dir
mac = pd.read_csv('dataset/mcdonalds.csv')

In [3]:
mac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453 entries, 0 to 1452
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   yummy           1453 non-null   object
 1   convenient      1453 non-null   object
 2   spicy           1453 non-null   object
 3   fattening       1453 non-null   object
 4   greasy          1453 non-null   object
 5   fast            1453 non-null   object
 6   cheap           1453 non-null   object
 7   tasty           1453 non-null   object
 8   expensive       1453 non-null   object
 9   healthy         1453 non-null   object
 10  disgusting      1453 non-null   object
 11  Like            1453 non-null   object
 12  Age             1453 non-null   int64
 13  VisitFrequency  1453 non-null   object
 14  Gender          1453 non-null   object
dtypes: int64(1), object(14)
memory usage: 170.4+ KB

In [4]:
mac.describe()

               Age
count  1453.000000
mean     44.604955
std      14.221178
min      18.000000
25%      33.000000
50%      45.000000
75%      57.000000
max      71.000000

# Displaying first & last 5 values from dataset

In [5]:
mac.head()

,yummy,convenient,spicy,fattening,greasy,fast,cheap,tasty,expensive,healthy,disgusting,Like,Age,VisitFrequency,Gender
0,No,Yes,No,Yes,No,Yes,Yes,No,Yes,No,No,-3,61,Every three months,Female
1,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,2,51,Every three months,Female
2,No,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,No,1,62,Every three months,Female
3,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,No,No,Yes,4,69,Once a week,Female
4,No,Yes,No,Yes,Yes,Yes,Yes,No,No,Yes,No,2,49,Once a month,Male

In [6]:
mac.tail()

,yummy,convenient,spicy,fattening,greasy,fast,cheap,tasty,expensive,healthy,disgusting,Like,Age,VisitFrequency,Gender
1448,No,Yes,No,Yes,Yes,No,No,No,Yes,No,Yes,I hate it!-5,47,Once a year,Male
1449,Yes,Yes,No,Yes,No,No,Yes,Yes,No,Yes,No,2,36,Once a week,Female
1450,Yes,Yes,No,Yes,No,Yes,No,Yes,Yes,No,No,3,52,Once a month,Female
1451,Yes,Yes,No,No,No,Yes,Yes,Yes,No,Yes,No,4,41,Every three months,Male
1452,No,Yes,No,Yes,Yes,No,No,No,Yes,No,Yes,-3,30,Every three months,Male

# Checking for Null values in the dataset

In [7]:
mac.isnull().sum()

yummy             0
convenient        0
spicy             0
fattening         0
greasy            0
fast              0
cheap             0
tasty             0
expensive         0
healthy           0
disgusting        0
Like              0
Age               0
VisitFrequency    0
Gender            0
dtype: int64

In [8]:
#mac['Like']=mac['Like'].replace(['I hate it!-5':'-5','I love it!+5':'+5'])

# Replacing incosistent values with more efficient values
Computer cannot understand what 'I hate it!-5' exactly means, so here we replace it with just '-5', so that its more readable and understandable.

In [9]:
mac = mac.replace(to_replace='I hate it!-5',value='-5')
mac = mac.replace(to_replace='I love it!+5',value='+5')

# Categorizing the 'Like' columns into grades
Range: -1 to -5 Means Bad
Range: 0 to 2 Means Average
Range: 3 to 5 Means Good
In this way we can easily segment and distinguish 'Bad' reviews from 'Good' reviews

In [10]:

mac = mac.replace(to_replace=['-5','-4','-3','-2','-1'],value='Bad')
mac = mac.replace(to_replace=['0','+1','+2'],value='Average')
mac = mac.replace(to_replace=['+3','+4','+5'],value='Good')

In [11]:
mac['Like'].value_counts()

Bad        413
3          229
2          187
Average    169
4          160
1          152
Good       143
Name: Like, dtype: int64

# Data pre-processing step completed
End of Step-4